<mat-toolbar style="background-color: rgb(8, 116, 8); color: aliceblue; margin: 0px;">
  <span>Tabuada</span>
</mat-toolbar>

<div style="display: flex; width: 100%; height: 91.8%;">

  <section>
    <app-form-esquerdo (selectedNumber)="AddNumber($event)"></app-form-esquerdo>
    <app-generate-tabuada 
    [selectedNumbers]="selectedNumbers"
    (limparNumerosEvent)="LimparNumeros()"
    (gerarTabuadasEvent)="GerarTabuadas()"></app-generate-tabuada>
  </section>


  <section class="tabuadas">
    @if (tabuadas.length == 0) {
      <h3>Nenhuma tabuada gerada até o momento</h3>
    }
    @for (tabuada of tabuadas; track $index) {
      <app-tabuada [tabuada]="tabuada"></app-tabuada>
    }
  </section>

</div>